@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "TradeGothicLT-BoldCondTwenty";
    font-stretch: normal;
    src: url("../fonts/TradeGothicLT-BoldCondTwenty.woff2") format("woff2"),
         url("../fonts/TradeGothicLT-BoldCondTwenty.woff") format("woff");
}

body {
    font-family: "TradeGothicLT-BoldCondTwenty",
                 "HelveticaNeue-CondensedBold",
                 "Franklin Gothic Medium",
                 sans-serif;
}

.header-wrap {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.site-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.site-navigation__list {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.site-navigation__list-item {
    display: inline-block;
}

.site-navigation__list-item a {
    color: black;
    text-decoration: none;
}

.site-navigation__list-item .active {
    border-bottom: 4px solid black;
}

.wrapper {
    width: 90%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

.site-title {
    margin-top: 0;
    font-weight: 400;
    font-size: 72px;
    text-align: center;
}

@media screen and (min-width: 65em) {
    .site-title {
        font-size: 112px;
    }
}

.site-paragraph {
    font-size: 24px;
    text-align: center;
}

@media screen and (min-width: 65em) {
    .site-paragraph {
        font-size: 36px;
    }
}

.visualization-space {
    height: 100vh;
}

.visualization {
    position: fixed;
    top: calc(72px + 5vh);
    left: 10vw;
    z-index: -1;
    width: 80vw;
    height: calc(100vh - 72px - 5vh - 5vh);
}

.visualization__countries {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.visualization__country {
    flex: 0 1 auto;
    width: 20%;
    cursor: pointer;
}

.visualization__country:hover {
    box-shadow: inset 0 0 0 3px black;
}

.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visualization__country-text {
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .35s ease;
}

.visualization__country-text--hidden {
    opacity: 0;
}

.visualization__country-detailed {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}
