@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "TradeGothicLT-BoldCondTwenty";
    font-stretch: normal;
    src: url("../fonts/TradeGothicLT-BoldCondTwenty.woff2") format("woff2"),
         url("../fonts/TradeGothicLT-BoldCondTwenty.woff") format("woff");
}
